.container {
  height: 1.2rem;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0.6rem 0 0.7rem 0;
  font-weight: 300;
  line-height: 1.2rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.container * {
  min-width: 0;
}

.headerWeather {
  padding-left: 1rem;
  vertical-align: middle;
  font-size: 0.8rem;
}

.headerClock {
  font-size: 1.2rem;
  color: var(--color-text);
  text-align: center;
}

.headerDate {
  font-size: 0.8rem;
  color: var(--color-text);
  text-align: right;
  padding-right: 1rem;
}
